body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: rgb(255, 255, 255);
  
}

.header {
  background-image: url('/assets/drama.jpg'); 
  background-color: black;
  height: 288px;
  padding: 16px 0 0 0;
  
}

.header-image {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
  
}

.header-title {
  color: #14f10d;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.header-description {
  color: #ffffff;
  margin: 24px auto;
  text-align: center;
  max-width: 384px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 32px;
}

.card {
  margin-bottom: 48px;
  box-shadow: 0 4px 66px 0 rgba(207, 50, 194, 0.781);
  padding: 30px;
}

.menu {
  height: 120px;
  width: 750px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 24px;
  margin: 20px auto 0 auto;
  background-color: #f8f8f8;
  box-shadow: 0 4px 6px 0 rgba(66, 42, 42, 0.18);
}

.Select-control {
  width: 256px;
  height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
  line-height: 48px;
}

.Select--multi .Select-value-label {
  line-height: 32px;
}

.menu-title {
  margin-bottom: 6px;
  font-weight: bold;
  color: #079A82;
}


